body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    background-image: var(--bs-gradient);
  }
  
  header, nav, main, footer {
    padding: 15px;
  }
  
  header div h1 {
    color: blue;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-style: initial;
    background-color: lightblue;
  }
  
  main h3 {
    color: antiquewhite;
  }
  
  main ul li p {
    text-align: left;
  }
  
  header {
    background-color: lightblue;
    color: antiquewhite;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #04488d;
    border-width: 20px;
    border-radius: 20px;
  }
  
  main {
    margin: 150px;
  }
  main p {
    text-align: center;
    color: red;
  }
  
  footer div p {
    text-align: center;
    color: #333;
    font-size: 14px;
    /*position:fixed;*/
    bottom: 0%;
    margin: 0px;
  }
  
  .imgc {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 300px;
  }

  section#registro h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    color: #3D3D3D;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #3D3D3D;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
  }
  
  .form-group input:focus {
    outline: none;
    border-color: #3D3D3D;
  }
  
  button[type="submit"] {
    background-color: #3D3D3D;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #222222;
  }

  label.error{
    color: red;
  }

  section a{
    text-align: center;
  }